/* These styles are just to make it easier to see the blocks, initially. */
@font-face {
  font-family: "gtpb";
  src: url("./fonts/GT-Pressura-Black-Trial.woff2");
}

@font-face {
  font-family: "gtpm";
  src: url("./fonts/GT-Pressura-Medium-Trial.woff2");
}

@font-face {
  font-family: "gtpt";
  src: url("./fonts/GT-Pressura-Text-Trial.woff2");
}

body {
  background-color: #191515;
  color: white;
  font-family: "gtpt", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  z-index: 3;
}

.title-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100vh;
  z-index: 3;
  position: fixed;
}

.title-grid > section {
  background-color: #191515;
  width: 100%;
  padding: 30px 20px;
}

.channel-title {
  font-family: "gtpb";
  text-transform: uppercase;
  font-size: 48px;
  line-height: 79.02%;
  text-align: center;
  letter-spacing: -0.045em;
  margin-bottom: 20px;
}

.channel-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.explore-button {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  margin-top: 20px;
  color: #191515;
  background: rgba(255, 230, 0, 0.809);
  border-radius: 4px;
  font-size: 16px;
  line-height: 145%;
}

.grid1 {
  margin-top: 20px;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  animation: float 15s ease-in-out infinite;
  filter: grayscale(1);
}

.grid1 > li:nth-child(even) {
  opacity: 0;
}

.grid2 {
  margin-top: 20px;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
  animation: float 25s ease-in-out infinite;
  opacity: 0.6;
  filter: grayscale(1) blur(2px);
}

.grid2 > li:nth-child(odd) {
  opacity: 0;
}

.audio-element {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

@keyframes float {
  0% {
    transform: translateX(0%) translateZ(0);
  }
  50% {
    transform: translateX(10%) translateZ(0);
  }
  100% {
    transform: translateX(0%) translateZ(0);
  }
}

@media only screen and (min-width: 970px) {
  .title-grid {
    width: 100%;
    padding: 0px 200px;
  }
}

@media only screen and (min-width: 1112px) {
  .title-grid {
    width: 100%;
    padding: 0px 300px;
  }
}
