/* These styles are just to make it easier to see the blocks, initially. */
@font-face {
  font-family: "gtpb";
  src: url("./fonts/GT-Pressura-Black-Trial.woff2");
}

@font-face {
  font-family: "gtpm";
  src: url("./fonts/GT-Pressura-Medium-Trial.woff2");
}

@font-face {
  font-family: "gtpt";
  src: url("./fonts/GT-Pressura-Text-Trial.woff2");
}

body {
  background-color: #191515;
  color: white;
}
/* @keyframes float {
  0% {
    transform: translateX(0%) translateZ(0);
  }
  50% {
    transform: translateX(10%) translateZ(0);
  }
  100% {
    transform: translateX(0%) translateZ(0);
  }
} */
